<div class="col-md-8 main-view">
    <div class="list_layout">
        <table st-table="displayedCollection" st-safe-src="bills">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Table</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bill in displayedCollection">
                    <td>{{bill.id}}</td>
                    <td>{{bill.table.table_name}}</td>
                    <td>{{bill.orders | tempAmount}}</td>
                    <td ng-bind-html="bill.status | billStatus"></td>
                    <td>
                    <a href="#/bill/{{bill.id}}"><div class="btn">Detail</div></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>