<div class="col-md-8 main-view">
    <div class="list_layout">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categories">
                    <td>{{category.id}}</td>
                    <td>{{category.category_name}}</td>
                    <td>
                    <a href="#/category/{{category.id}}"><div class="btn">Modify</div></a>
                    <div ng-Click="deleteCategory($index)" class="btn btn-warning">Delete</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>