<div class="col-md-8 main-view">
    <div class="list_layout order_list_layout">
        <table>
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders" ng-class="{new: order.order_status == 0}">
                    <td>{{ order.bill.table.table_name }}</td>
                    <td>{{ order.item.item_name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.order_status | orderStatus }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                    <div ng-click="updateOrder($index)" ng-show="order.order_status == 0 || order.order_status == 1" class="btn">
                            Receive
                        </div>
                        <a href="#/order/{{order.id}}"><div class="btn">Modify</div></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>