<div class="col-md-8 main-view">
    <div class="list_layout order_list_layout">
        <table st-table="displayedCollection" st-safe-src="orders">
            <thead>
                <tr>
                    <th>Table</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in displayedCollection" ng-class="{new: order.order_status == 0}">
                    <td>{{ order.bill.table.table_name }}</td>
                    <td>{{ order.item.item_name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.order_status | orderStatus }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <div ng-click="updateOrder(order._index)" ng-show="order.order_status == 0 || order.order_status == 1" class="btn">
                            {{order.order_status | orderAction}}
                        </div>
                        <a href="#/order/{{order.id}}"><div class="btn">Modify</div></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>