<div class="col-md-12">
    <div class="col-md-3">
        <div class="tile tile_red">
            <div class="tile_content">
                {{ waiting }}
            </div>
            <div class="tile_text">
                No. of tickets
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="tile tile_orange">
            <div class="tile_content">
                {{currentNo}}
            </div>
            <div class="tile_text">
                Current ticker number
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="tile tile_blue">
            <div class="tile_content">
                {{avgWaitingTime}} s
            </div>
            <div class="tile_text">
                Average waiting time
            </div>
        </div>
    </div>
    <div ng-click="clearQueue()" class="col-md-3 pointer">
        <div class="tile tile_green">
            <div class="tile_content">
                Clear Queue
            </div>
            <div class="tile_text">
                Remove all tickets
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 main-view">
    <div class="list_layout">
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>People</th>
                    <th>Status</th>
                    <th>Entered</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in tickets" id="{!! $ticket.id !!}">
                    <td>{{ ticket.ticket_number }}</td>
                    <td>{{ ticket.people }}</td>
                    <td>{{ ticket.ticket_status | ticketStatus }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td><div ng-show="ticket.ticket_status < 2" ng-click="updateTicket(ticket)" class="btn">{{ ticket.ticket_status | ticketAction }}</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>